.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    div{
        display: flex;
        flex-direction: column;
        padding: 0.1rem;
        h5{
            height: 0.3rem;
            line-height: 0.3rem;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                height: 0.3rem;
                line-height: 0.3rem;
                padding: 0 0.1rem;
                background: rgb(0, 0, 0,0.05);
                margin: 0.05rem;
                border-radius: 0.2rem;
            }
        }
    }
}