*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}
ul,ol{
    list-style: none;
}
body{
    background: rgb(179, 179, 179);
}
.whole{
    width: 800px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    border: 5px solid orange;
    padding: 20px;
    justify-content: space-between;
}
.left{
    width: 400px;
    height: 100%;
}
.right{
    width: 300px;
    height: 100%;
}